# 大多数编辑器的配置文件目录都是以 .xxx 命名
/.*/

__pycache__/
/xbuild/
/xdata/
/xdebug/
/xrelease/
/xrelease-package/
/xxx/
/site-packages/

# 除了 make.py 和 make_*.py 文件，其它 make 开头的文件均为私用文件，不纳入代码管理
/make*.*
!/make.py
!/make_*.py

# 调试标记
src/debug/mark_locale.py

# 打包时生成的文件
*.zip
