# 大多数编辑器的配置文件目录都是以 .xxx 命名
/.*/

__pycache__/
/xbuild/
/xdebug/
/xrelease/

# 除了 make.py 和 make_*.py 文件，其它 make 开头的文件均为私用文件，不纳入代码管理
/make*.*
!/make.py
!/make_*.py

/mark_debug.py

# 暂记待办事项的文件，为私用文件
/TODO.markdown

# 打包时生成的文件
*.zip
